@CHARSET "UTF-8";

html{
	height: 100%;
	
}

body{
	background-color: #1E7FAB;
	height: 100%;
}

.container{
	background-color: white;
	height: 100%;
	overflow-y: auto;
}

#header{
	width: 100%;
	max-width: 800px;
	display: block;
	margin: auto;
}

#logout{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
}

