<div class="row">
<div class="col-sm-6">
<h1>Teams
    <button type="button" class="btn btn-success" ng-click="openNewTeamModal()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</h1>
    <div class="row" ng-repeat="team in teams">
        <button style="width: 100px;" type="button" ng-click="getPlayersOfTeam(team.id)" class="btn btn-default">{{team.category}}</button>
        <button ng-click="deleteTeam(team.id)" type="submit" class="btn btn-danger">Delete</button>
    </div>
    <div class="row">
        <button style="width: 100px;" type="button" ng-click="getFreePlayersOfClub()" class="btn btn-default">Free Players</button>
    </div>
</div>
<div class="col-sm-6">
<h1>Players
    <button type="button" class="btn btn-success" ng-click="addNewPlayer()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</h1>
    <table class="table" ng-if="!displayingFree">
        <thead>
        <tr>
            <th>Jersey Number</th>
            <th>First name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="playerInfo in playerInfos">
            <td>{{playerInfo.jerseyNumber}}</td>
            <td>{{playerInfo.player.firstName}}</td>
            <td>{{playerInfo.player.lastName}}</td>
            <td>
                <button ng-click="editPlayer()" type="submit" class="btn btn-primary">Edit</button>
            </td>
            <td>
                <button ng-click="removePlayerFromRoster(playerInfo.playerInfoId)" type="submit" class="btn btn-primary">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table" ng-if="displayingFree">
        <thead>
        <tr>
        <th>Jersey Number</th>
            <th>First name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="playerInfo in playerInfos">
        <td></td>
            <td>{{playerInfo.firstName}}</td>
            <td>{{playerInfo.lastName}}</td>
            <td>
                <button ng-click="editPlayer()" type="submit" class="btn btn-primary">Edit</button>
            </td>
            <td>
                <button ng-click="deletePlayer(playerInfo.id)" type="submit" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>