<div class="col-sm-6">
<form name="form" role="form">
    <div class="form-group">
        <label class="control-label">E-mail</label>
        <input type="email" id="email" class="form-control" ng-model="data.email" required />
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" id="password" class="form-control" ng-model="data.password" required />
    </div>
    <div class="form-group">
        <button type="submit" ng-click="login()" class="btn btn-danger">Login</button>
    </div>
</form>
</div>
<div class="col-sm-6">
<h5>Pre-filled users:</h5>
<table class="table">
<tr><th>Role</th><th>Email</th><th>Password</th></tr>
<tr><td>Admin</td><td>admin@mail.com</td><td>adminpassword</td></tr>
<tr><td>Manager</td><td>0man@mail.com</td><td>0password</td></tr>
<tr><td>Manager</td><td>1man@mail.com</td><td>1password</td></tr>
</table>
</div>